div.ResultPage {
  position: relative;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

  div.cover {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(36, 36, 36, 1),
      rgba(36, 36, 36, 0)
    );

    @media (max-width: 1000px) {
      background-image: linear-gradient(
        to bottom,
        rgba(36, 36, 36, 1),
        rgba(36, 36, 36, 1)
      );
    }
  }

  div.weather-content {
    position: relative;
    z-index: 1;
    padding: 0 3vw 4vh 3vw;
    margin: 0;
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    gap: 2vh 2vw;

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      min-height: 90vh;
    }

    div.Panel {
      border: 1px solid rgb(60, 60, 60);
      border-radius: 0.6rem;
      padding: 1vh 1vw;
      box-shadow: 2px 3px rgb(0 0 0 / 0.8);
      background-color: rgb(0, 0, 0, 0.6);

      &.weather {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1000px) {
          padding: 2vh 0;
        }

        div.icon {
          svg {
            font-size: 7rem;
            margin-right: 2vw;

            @media (max-width: 1000px) {
              margin-right: 10vw;
            }
          }
          &.storm {
            color: rgb(252, 0, 88);
          }
          &.drizzle {
            color: rgb(15, 131, 255);
          }
          &.rain {
            color: rgb(15, 79, 255);
          }
          &.snow {
            color: rgb(180, 255, 240);
          }
          &.atmosphere {
            color: gray;
          }
          &.clear {
            color: rgb(255, 177, 33);
          }
          &.clouds {
            color: rgb(200, 200, 200);
          }
        }
        div.text {
          div.main {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1vh;

            @media (max-width: 1000px) {
              font-size: 2.2rem;
            }
          }
          div.desc {
            font-size: 1.4rem;

            @media (max-width: 1000px) {
              font-size: 1.8rem;
            }
          }
        }
      }

      &.location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2vh 2vw;

        @media (max-width: 1000px) {
          padding: 2vh 4vw;
        }

        div.top {
          div.name {
            font-size: 1.1rem;
            font-weight: 600;
            max-height: 9vh;
            overflow-y: auto;

            @media (max-width: 1000px) {
              font-size: 1.4rem;
            }
          }
          div.info-1 {
            display: flex;
            align-items: center;
            width: 50%;
            justify-content: space-around;
            padding: 2.5vh 0;
            font-size: 1rem;

            @media (max-width: 1000px) {
              width: 80%;
              font-size: 1.2rem;
            }

            div.type {
              font-size: 1.2rem;
              font-weight: 600;
              color: rgb(253, 154, 41);

              @media (max-width: 1000px) {
                font-size: 1.6rem;
              }
            }
          }
        }
        div.info-2 {
          display: flex;
          align-items: center;

          label {
            color: rgb(170, 170, 170);
            font-size: 1.1rem;
            font-weight: 600;
            margin-right: 0.6vw;

            @media (max-width: 1000px) {
              margin-right: 1vw;
              font-size: 1.4rem;
            }
          }
          div {
            margin-left: 1vw;
            padding-left: 1.6vw;
            border-left: 0.4vw solid white;
            font-size: 1rem;

            @media (max-width: 1000px) {
              margin-left: 1.5vw;
              padding-left: 3vw;
              border-left: 0.8vw solid white;
              font-size: 1.2rem;
            }
          }
        }
      }

      &.side {
        div.top {
          display: flex;
          justify-content: space-around;
          align-items: center;

          div.item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 10vw;
            height: 32vh;
            font-size: 1.2rem;
            font-weight: 600;
            color: rgb(165, 147, 255);

            @media (max-width: 1000px) {
              width: 30vw;
              height: 22vh;
              font-size: 1.7rem;
            }

            svg {
              font-size: 2.2rem;
              margin-bottom: 3vh;

              @media (max-width: 1000px) {
                font-size: 3rem;
                margin-bottom: 2vh;
              }
            }
            label {
              margin-bottom: 6vh;

              @media (max-width: 1000px) {
                margin-bottom: 3vh;
              }
            }
            div.number {
              display: flex;
              color: rgb(178, 188, 255);
              height: 5vh;
              font-size: 1.3rem;
              align-items: center;
              text-align: center;

              @media (max-width: 1000px) {
                font-size: 1.8rem;
              }
            }

            &.wind {
              div.number {
                font-size: 1.4rem;

                @media (max-width: 1000px) {
                  font-size: 1.9rem;
                }
              }
              div.warning {
                color: rgb(255, 171, 74);
              }
              div.danger {
                color: rgb(255, 94, 118);
              }
            }
          }
        }

        div.bottom {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 16vh;
          flex-direction: column;
          margin-top: 4vh;

          @media (max-width: 1000px) {
            max-height: 16vh;
            margin-top: 2vh;
          }

          div {
            label {
              font-size: 1.2rem;
              font-weight: 600;

              @media (max-width: 1000px) {
                font-size: 1.7rem;
              }
            }
            div.container {
              position: relative;
              margin-top: 1.5vh;
              width: 20vw;
              height: 4vh;
              border-radius: 2vh;
              background-color: rgb(90, 90, 90);

              @media (max-width: 1000px) {
                width: 75vw;
              }

              div.inner {
                position: absolute;
                inset: 0;
                height: 4vh;
                border-radius: 2vh;
              }
            }
            div.text {
              display: flex;
              margin-top: 1.5vh;
              font-size: 1.3rem;
              font-weight: 600;
              width: 100%;
              justify-content: center;

              @media (max-width: 1000px) {
                font-size: 1.8rem;
              }
            }
          }

          div.rain {
            div.container {
              div.inner {
                background-image: linear-gradient(
                  45deg,
                  rgb(0, 106, 255) 0%,
                  rgb(77, 175, 255) 80%
                );
              }
            }
            div.text {
              color: rgb(93, 136, 255);
            }
          }
          div.snow {
            div.container {
              div.inner {
                background-image: linear-gradient(
                  45deg,
                  rgb(100, 100, 100) 0%,
                  rgb(200, 200, 200) 80%
                );
              }
            }
            div.text {
              color: rgb(200, 200, 200);
            }
          }
        }
      }

      &.temp {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1000px) {
          flex-direction: column;
          min-height: 65vh;
          margin-bottom: 2vh;
        }

        div.left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: 5vw;
          font-weight: 600;

          @media (max-width: 1000px) {
            min-height: 25vh;
            margin-right: 0;
          }

          .hot {
            color: rgb(255, 159, 90);
          }
          .cool {
            color: rgb(130, 255, 188);
          }
          .cold {
            color: rgb(97, 174, 255);
          }

          div.current {
            display: flex;
            width: 20vw;
            justify-content: center;
            font-size: 3rem;
            padding-bottom: 4vh;
            border-bottom: 0.5vh solid white;

            @media (max-width: 1000px) {
              padding: 2vh 0;
              width: 70vw;
              border-bottom: 0.2vh solid white;
            }
          }
          div.range {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
            padding-top: 5vh;

            @media (max-width: 1000px) {
              padding-top: 3vh;
              font-size: 2rem;
            }
          }
        }
        div.right {
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media (max-width: 1000px) {
            padding: 4vh 0 2vh 0;
            min-height: 40vh;
          }

          div.item {
            font-size: 1.4rem;
            font-weight: 600;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            width: 23vw;

            @media (max-width: 1000px) {
              width: 65vw;
              font-size: 1.8rem;
            }

            &.bad {
              color: rgb(255, 90, 90);
            }
            &.normal {
              color: rgb(255, 186, 59);
            }
            &.good {
              color: rgb(138, 255, 28);
            }

            svg {
              margin-right: 1rem;
            }
            div.number {
              font-size: 1.6rem;
              text-align: end;

              @media (max-width: 1000px) {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }

  div.secondary {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3vw 4vh 3vw;
    margin: 0;
    height: 90vh;

    &.error {
      h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-left: 1.8rem;
        color: pink;
      }
      svg {
        font-size: 2.5rem;
        color: rgb(255, 104, 129);
      }
    }
    &.fetching {
      h3 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-left: 1.5rem;
        background-image: linear-gradient(
          0deg,
          rgb(142, 14, 253) 0%,
          rgb(177, 89, 255) 90%
        );
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }
      div.spinner-border {
        color: rgb(197, 132, 255);
      }
    }
  }
}
